@model ErrorViewModel
@{
    ViewData["Title"] = "שגיאה";
}

<h1 class="text-danger">שגיאה.</h1>
<h2 class="text-danger">אירעה שגיאה בעת עיבוד הבקשה שלך.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>מזהה בקשה:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>מצב פיתוח</h3>
<p>
    מעבר לסביבת <strong>פיתוח</strong> יציג מידע מפורט יותר על השגיאה שהתרחשה.
</p>
<p>
    <strong>אין להפעיל את סביבת הפיתוח ביישומים שפורסמו.</strong>
    הדבר עלול לגרום להצגת מידע רגיש מחריגות למשתמשי קצה.
    לצורך איתור באגים מקומי, הפעל את סביבת ה<strong>פיתוח</strong> על ידי הגדרת משתנה הסביבה <strong>ASPNETCORE_ENVIRONMENT</strong> ל<strong>Development</strong>
    והפעלה מחדש של האפליקציה.
</p>
