@{
    ViewData["Title"] = "דף הבית";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים ל-HoopStats</h1>
    <img src="/logo.png" class="mt-4 img-fluid" alt="לוגו HoopStats">
</div>
