@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To HoopStats</h1>
    <img src="/logo.png" class="mt-4 img-fluid" alt="HoopStats Logo">
</div>
